package page

import "sg/tmpls/layout"

templ Home() {
	@layout.Page("SG Interiors", "A Cape Town interior design studio passionate about making your home yours.") {
		<h1 class="bg-amber-700">Home Page</h1>
	}
}
